.flat {
    /* border: 1px solid red; */
}

.flat-picture {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.flat-title {
    margin-top: 10px;
    font-weight: bold;
}